@font-face {
    font-family: 'jgs_9x18';
    src: url('jgs_9x18.ttf') format('truetype');
}

@font-face {
    font-family: 'jgs_18x36';
    src: url('jgs_18x36.ttf') format('truetype');
}

body, body *{
    --w : 9px;
    --h : 18px;
    font-family:'jgs_9x18';
}

/*
@media( min-width : 1476px ){
   
    body, body *{
        --w : 18px;
        --h : 36px;
        width : 1476px;
       font-family:'jgs_18x36';
    }

}
*/

*{
    margin : 0;
    padding : 0;
    text-decoration : none;
    font-weight : normal;
    font-size : var(--h);
    line-height : var(--h);
}

pre{
    padding : var(--h) var(--h) var(--h) var(--h);
}

@page{
    size: auto;   
    margin: 0;
}

